<footer>
    <div class="footer-content">
        <div class="footer-section about">
            <h2>Sobre</h2>
            <p>BLA BLA BLA BLA BLA</p>
        </div>
        <div class="footer-section links">
    <nav>
        <a href="#">Home</a>
        <a href="#">Forum</a>
        <a href="#">Banimentos</a>
        <a href="#">Members</a>
        <a href="#">Novidades</a>
    </nav>
        </div>
        <div class="footer-section contact">
            <h2>Contact Us</h2>
            <p>Email: sokomokudiome@als.com.br</p>
            <p>Phone: +55 11 234 234</p>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; 2024 ALS Forum. All rights reserved.
    </div>
</footer>
